[user]
	name = Philip Jay
	email = philip.jay@rea-group.com
[alias]
	br = branch
	ci = commit
	co = checkout
	di = diff
	lo = log
	sh = show
	st = status
[color]
        ui = true
[push]
	default = current
[core]
	excludesfile = ~/.gitignore
        pager = less -+F -RX
